body{
    background: #3494E6;  
    background: -webkit-linear-gradient(to bottom, #EC6EAD, #3494E6);  
    background: linear-gradient(to bottom, #EC6EAD, #3494E6); 

}
body{
    color:white;
}
.weather {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
ul{

  padding: 3em;
}

li{
    display: inline;
    padding: .5em;
    font-family:cursive;
}

.image img{
 // border: 3px solid red;
  display: inline;
}



section ul{
    list-style-type:none;
    text-decoration:none;
}
.weather {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }


ul {
  border: 2px solid #c0ffee;
  padding: 3em; }


.image img {
  display: inline; }


.hot {
  background: yellow; }


section ul, li {
  list-style-type: none;
  text-decoration: none;
    display: inline;

}

